/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


body{
    background-color: #52616B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2344535c' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

p{
    margin: 0;
}

ol, ul {
    padding-left: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* ESTILOS INDEX */

/* Estilos Header */

header .box-menu{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
}

div .box-social-media{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    width: 100%;
    background-color: #52616B;
    height: 2rem;
    
}
div .box-social-media a{
    text-transform: uppercase;
    text-decoration: none;
    color: #1E2022;
    font-size: 1rem;
    font-weight: 700;
}

div .box-social-media a:hover .bi-instagram{
    color: #E1306C;
}

div .box-social-media a:hover .bi-facebook{
    color: #0C58CA;
}

div div .subbox-social-media{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
    color: #1E2022;
    font-size: 0.8rem;
    font-weight: 700;

}

div .box-navegacion{
    display: flex;
    padding-top: 0.63rem;
    width: 95%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

div .bi-list{
    display: none;
}

div div .logo{
    width: 7.5rem;
    border-radius: 6.25rem;
    border: 0.2rem solid #1E2022;
}


div  .navegacion{
    border-bottom: 1px solid black;
}


.navbar-brand{
    color: #1A3C40;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: 0.3s;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navbar-brand:hover{
    background-color: #1A3C40;
    border-radius: 0.2rem;
    color: #F5F5F5;
}


.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #1A3C40;
    text-transform: uppercase;
    transition: 0.3s;
    
}

.navbar-nav .nav-link.active:hover{
    background-color: #1A3C40;
    border-radius: 0.2rem;
    color: #F5F5F5;
}



/* Estilos para main */

/* Estilos titulo con fondo de imagen */
main .box-title-general{
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/71ff8217edc4c9112d972e0524625f67.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    padding-bottom: 6.25rem;
}
div .title-general{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #F5F5F5;
}
div div .box-quienesSomos{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div div div .quienesSomos{
    margin-bottom: 1.88rem;
    font-size: 2.4rem;
}
div div div .parrafo-titulo{
    font-size: 1.2rem;
}

main .titulo{
    font-size: 4.38rem;
    text-transform: uppercase;
    color: #F5F5F5;
    text-decoration: underline 0.2rem;
    text-underline-offset: 0.4rem;
}

/* Estilos cajas con los cotadores */

main .contadores{
    display: flex;
    margin: 3.13rem 0 3.13rem 0;
    justify-content: space-around
}


div .box-contador{
    height: 13rem;
    width: 13rem;
    background-color: #F5F5F5;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #1A3C40;
    border-radius: 5%;
    line-height: 1;
}

div div .bi-bookmark-check-fill{
    color: #417D7A;
    font-size: 3rem;
}

div div .contador-numero{
    font-size: 4.47rem;
}

/* Estilos mapa */
main .box-mapa{
    display: flex;
    justify-content: center;
}

main div .mapa{
    width: 90%;
    height: 70vh;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}

/* Estilos para Footer */

/* estilos redes sociales footer */

footer .box-menu-footer{
    background-color: #F5F5F5;
    padding: 0.5rem 0 0.8rem 0;

}

div .redes-sociales-footer{
    display: flex;
    list-style: none;
    justify-content: center;
}

div .redes-sociales-footer li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #1A3C40;
    font-size: 2rem;
    transition: 0.4s;
}


div .redes-sociales-footer li{
    transition: 0.4s;
}

div .redes-sociales-footer li:hover{
    transform: scale(1.5);
}

footer div .redes-sociales-footer a:hover .bi-instagram{
    color: #E1306C;
}
footer div .redes-sociales-footer a:hover .bi-facebook{
    color: #0C58CA;
}
footer div .redes-sociales-footer a:hover .bi-whatsapp{
    color: #25d366;
}
footer div .redes-sociales-footer a:hover .bi-envelope-fill{
    color: #FF8D29;
}



footer div .redes-sociales-footer li{
    margin: 0 1.2rem 0 1.2rem;
}

/* estilos copyright */

footer .box-copyright{
    background-color: #c4c4c4;
}

div .copyright{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 700;
}

div .copyright li{
    padding: 0.8rem;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ESTILOS HISTORIA */

/* Titulo */

main .box-title-general-pages{
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/71ff8217edc4c9112d972e0524625f67.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 100px 20px;
}

/* grid de parrafo con video */

main .box-historia{
    margin-top: 100px;
    display: grid;
    min-height: 70vh;
    width: 95vw;
    grid-template-areas: "box-parrafo-uno box-imagen-historia box-imagen-historia"
                        "box-parrafo-dos box-parrafo-dos box-parrafo-dos";
    grid-template-columns: 0.8fr 1.5fr;
    grid-template-rows: 0.8fr 0.1fr;
    margin-right: auto;
    margin-left: auto;
}

main div .box-parrafo-uno{
    grid-area: box-parrafo-uno;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    color: #F5F5F5;
    background-color: #52616B;
    padding: 0.4rem;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

main div .box-imagen-historia{
    grid-area: box-imagen-historia;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
main div div .box-imagen{
    width: 85%;
    height: 95%;
    background-color: #52616B;
    border: 1px solid #000000;
}

main div .box-parrafo-dos{
    grid-area: box-parrafo-dos;
    text-align: justify;
    color: #F5F5F5;
    width: 95%;
    background-color: #52616B;
    padding: 0.4rem;
    border-radius: 0 0.3rem 0.3rem 0.3rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ESTILOS QUE HACEMOS */

main .box-como-construimos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.25rem 0 6.25rem 0;
    color: #F5F5F5;
}

main div div .como-construimos-titulo{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

main div .box-como-construimos-parrafo{
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 4.5rem;
}


main div div .como-construimos-video{
    width: 70vw;
    height: 60vh;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ESTILOS PROYECTOS */

main div .box-proyectos{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}

main div div .box-imagen-proyectos{
    background-color: cornflowerblue;
    border: 1px solid black;
    height: 25vh;
}

main div div div .imagen-proyecto{
    width: 100%;
    height: 100%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ESTILOS CONTACTO */

main .box-datos{
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}

main div .box-datos-flex{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    
}

main div div div .data-icons{
    font-size: 2.5rem;
    margin-right: 2rem;
    color: #F5F5F5;
}

main div div .box-contacto-datos{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5vh 5vw;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 20px;
}


main .box-form{
    width: 80%;
    margin: 0 auto 6.25rem auto;
    background-color: #1E2022;
    color: #F5F5F5;
    padding: 2rem;
    border: 1px solid #F5F5F5;
    border-radius: 0 4.4rem 0 4.4rem;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* MEDIA QUERIES */

/* Celulares */

@media  screen and (max-width:600px) {

    /* Header General */
    div .box-social-media{
        display: none;
    }

    div ul .navegacion{
        display: none;
    }
    
    /* Icono menu */
    div .bi-list{
        display: block;
        font-size: 4rem;
    }
/*  Estilos Titulo Index */
    
    div .title-general{
        width: 100%;
    }
     
    main .titulo{
        font-size:2.8rem;
        text-underline-offset: 0.1rem;
    }
/* Estilo Titulos pages */
    main .box-title-general-pages{
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    /* Estilos parrafo debajo de titulo */
    div div .box-quienesSomos{
        width: 90%;
    }

    div div div .quienesSomos{
        font-size: 1.6rem;
    }
    div div div .parrafo-titulo{
        font-size: 1rem;
    }

    /* INDEX */

    /* Contadores */
    main .contadores{
        display: flex;
        height: 110vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    div div .contador-numero{
        font-size: 2.5rem;
    }

    /* Mapa */
    main div .mapa{
        width: 90%;
        height: 100%;
        margin-bottom: 3rem;
        border-radius: 0.5rem;
    }

    /* Copyright */
    div .copyright{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 500;
    }
    div .copyright li{
        padding: 0.2rem;
    }

    /* HISTORIA */

    main .box-historia{
        margin-top: 100px;
        display: grid;
        min-height: 70vh;
        width: 95vw;
        grid-template-areas: "box-parrafo-uno  box-parrafo-uno"
                             "box-parrafo-dos box-parrafo-dos"
                             "box-imagen-historia box-imagen-historia";
        grid-template-columns: 0.8fr 1.5fr;
        grid-template-rows: 0.8fr 0.1fr;
        margin-right: auto;
        margin-left: auto;
    }
    
    main div .box-parrafo-uno{
        align-items: center;
        border-top: 3px solid #1E2022;
        border-right: 3px solid #1E2022;
        border-left: 3px solid #1E2022;
    }

    main div .box-parrafo-uno h2{
       margin-bottom: 1rem;
       font-size: 1.9rem;
       
    }
    
    main div .box-imagen-historia{
       margin: 1rem 0;
    }
    main div div .box-imagen{
        width: 100%;
    }
    
    main div .box-parrafo-dos{
        grid-area: box-parrafo-dos;
        align-items: center;
        width: 100%;
        border-radius: 0 0 0.3rem 0.3rem;
        border-bottom: 3px solid #1E2022;
        border-right: 3px solid #1E2022;
        border-left: 3px solid #1E2022;
    }

    /* QUE HACEMOS */

    main div div .como-construimos-titulo{
        text-align: center;
    }

    main div .box-como-construimos-parrafo{
        text-align: justify;
    }

    main div div .como-construimos-video{
        width: 95vw;
        height: 15rem;
    }

    /* PROYECTOS */
    main div .box-proyectos{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.8rem;
    }
    
    main div div .box-imagen-proyectos{
        background-color: transparent;
        border: none;
    }
    
    main div div div .imagen-proyecto{
        border: 0.2rem solid #1E2022 ;
        border-radius: 1rem;
    }

}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Tablets */

@media only screen and (max-width: 1024px) and (min-width: 601px) {

    /* Header General */
    div .box-social-media{
        display: none;
    }

    div ul .navegacion{
        display: none;
    }
    
    /* Icono menu */
    div .bi-list{
        display: block;
        font-size: 5rem;
    }
/*  Estilos Titulo Index */
    
    main .box-title-general{
        height: 50rem;
    }

    div .title-general{
        width: 100%;
    }
     
    main .titulo{
        font-size:3.2rem;
        text-underline-offset: 0.1rem;
    }


/* Estilo Titulos pages */
    main .box-title-general-pages{
        justify-content: center;
        text-align: center;
        height: 30rem;
        padding: 0;
    }

    /* Estilos parrafo debajo de titulo */
    div div .box-quienesSomos{
        width: 90%;
    }

    div div div .quienesSomos{
        font-size: 2.5rem;
    }
    div div div .parrafo-titulo{
        font-size: 1.8rem;
    }
    
    /* INDEX */
    main .contadores{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        margin: 5% 50%;
        column-gap: 5rem;
        row-gap: 3rem;
    }

    main div .mapa{
        width: 90%;
        height: 100%;
        margin-bottom: 3rem;
        border-radius: 0.5rem;
    }

    /* HISTORIA */

    main .box-historia{
        margin-top: 100px;
        display: grid;
        min-height: 70vh;
        width: 95vw;
        grid-template-areas: "box-parrafo-uno  box-parrafo-uno"
                             "box-parrafo-dos box-parrafo-dos"
                             "box-imagen-historia box-imagen-historia";
        grid-template-columns: 0.8fr 1.5fr;
        grid-template-rows: 0.8fr 0.1fr;
        margin-right: auto;
        margin-left: auto;
    }
    
    main div .box-parrafo-uno{
        align-items: center;
        border-top: 3px solid #1E2022;
        border-right: 3px solid #1E2022;
        border-left: 3px solid #1E2022;
    }

    main div .box-parrafo-uno h2{
       margin-bottom: 1rem;
       font-size: 1.9rem;
       
    }
    
    main div .box-imagen-historia{
       margin: 1rem 0;
    }
    main div div .box-imagen{
        width: 100%;
    }
    
    main div .box-parrafo-dos{
        grid-area: box-parrafo-dos;
        align-items: center;
        width: 100%;
        border-radius: 0 0 0.3rem 0.3rem;
        border-bottom: 3px solid #1E2022;
        border-right: 3px solid #1E2022;
        border-left: 3px solid #1E2022;
    }


    /* QUE HACEMOS */

    main div div .como-construimos-titulo{
        text-align: center;
    }

    main div .box-como-construimos-parrafo{
        text-align: justify;
    }

    main div div .como-construimos-video{
        width: 90vw;
        height: 25rem;
    }

    /* PROYECTOS */
    main div .box-proyectos{
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(12,10fr) ;
        gap: 0;
    }
    
    main div div .box-imagen-proyectos{
        background-color: transparent;
        border: none;
        height: 100%;
    }
    
    main div div div .imagen-proyecto{
        border: 0.2rem solid #1E2022 ;
        border-radius: 1rem;
        height: 90%;
    }



}