/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */
@mixin titulo{
    font-size: 4.38rem;
    text-transform: uppercase;
    color: $color-titulos;
    text-decoration: underline 0.2rem;
    text-underline-offset: 0.4rem;
}

header{
    .box-menu{
        background-color: $blanco-principal;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.5rem;
        .box-social-media{
            display: flex;
            justify-content: space-between;
            padding: 0.2rem;
            width: 100%;
            background-color: #52616B;
            height: 2rem;
            a{
                text-transform: uppercase;
                text-decoration: none;
                color: #1E2022;
                font-size: 1rem;
                font-weight: 700;
            }
            a:hover .bi-instagram{
                color: $color-instagram;
            }
            a:hover .bi-facebook{
                color: $color-facebook;
            }
            .subbox-social-media{
                display: flex;
                justify-content: space-around;
                width: 30%;
                list-style-type: none;
                color: #1E2022;
                font-size: 0.8rem;
                font-weight: 700;
            }
        }
        .box-navegacion{
            display: flex;
            padding-top: 0.63rem;
            width: 95%;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            a .logo{
                width: 7.5rem;
                border-radius: 6.25rem;
                border: 0.2rem solid #1E2022;
            }
            .navegacion{
                border-bottom: 1px solid black;
                .navbar-toggler{
                    border: none;
                }
                .navbar-brand{
                    color: $color-verde-principal;
                    font-weight: 700;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    transition: 0.3s;
                    padding-right: var(--bs-navbar-nav-link-padding-x);
                    padding-left: var(--bs-navbar-nav-link-padding-x);
                }
                .navbar-brand:hover{
                    background-color: $color-verde-principal;
                    border-radius: 0.2rem;
                    color: $blanco-principal;
                }
                .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
                    color: $color-verde-principal;
                    text-transform: uppercase;
                    transition: 0.3s;                   
                }
                .navbar-nav .nav-link.active:hover{
                    background-color: $color-verde-principal;
                    border-radius: 0.2rem;
                    color: $blanco-principal;
                }
            }
        }
    }
    
}

/* Titulo con fondo de imagen index y pages */

main{
    .box-title-general{
        /* Index */
        background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/71ff8217edc4c9112d972e0524625f67.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        height: 70vh;
        display: flex;
        justify-content: center;
        padding-bottom: 6.25rem;
        .title-general{
            width: 70%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: $blanco-principal;
            .box-quienesSomos{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .quienesSomos{
                    margin-bottom: 1.88rem;
                    font-size: 2.4rem;
                }
                .parrafo-titulo{
                    font-size: 1.2rem;
                }
            }
            .titulo{
                @include titulo();
            }
        }
    }
    
    .box-title-general-pages{
        /* Pages */
        background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/71ff8217edc4c9112d972e0524625f67.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 0 100px 20px;
        .titulo{
            @include titulo();
        }
    }
}