$color-titulos: #F5F5F5;
$blanco-principal: #F5F5F5;
$color-instagram: #E1306C;
$color-facebook: #0C58CA;
$color-whatsapp: #25d366;
$color-mail: #FF8D29;
$color-verde-principal: #4e3b31; //Es el color principal en si